:root {

    --blue: #005C78;
    --black: #333;
    --blanco: #EEF7FF;
    --blanco2: #FBF9F1;
    --lightBlue: #006989;
  
  }


.user-menu {
    position: relative;
    display: inline-block;
  }
  
  .user-menu-button {
    background-color: #005C78;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .user-menu-list {
    display: block;
    position: absolute;
    background-color: #005c78;
    border: 1px solid #005c78;
    z-index: 1;
    top: 59px;
    list-style-type: none;
    padding:0;
    margin: 0;
    width: 180px;
  }
  
  .user-menu-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .user-menu-list li:hover {
    background-color: #006989;
  }
  