:root {
  --negro: #212a3e;
  --blue: #334257;
  --gris: #666;
  --blanco: #f1f6f9;
  --blanco2: #fff;
  --lightBlue: #dde6ed;
}
.app {
  background-color: var(--lightBlue);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--blue);

  box-sizing: border-box;
  scroll-behavior: smooth;
}
