.containerColumna {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-wrapper {
  max-width: 600px; /* Ancho máximo del formulario */
  width: 100%;
  padding: 20px; /* Ajusta según tus necesidades */
  box-sizing: border-box;
  background-color: var(--blanco2);
}

.input-field {
  margin-bottom: 20px;

  /* border:#e74c3c solid; */
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  color: var(--gris);
}

.input-fields {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--gris2);
  border-radius: 5px;
}

.input-field input[type="password"] {
  margin-top: 5px;
}

.error-message {
  color: var(--red);
  margin-top: 5px;
}

.submit-button {
  margin-top: 15px;
  text-align: center;
}

.input-field {
  margin-bottom: 20px;
}

.error-message {
  color: var(red);
}

.submit-button {
  margin-top: 20px;
}
