.body-page {
  background-color: var();
  background-image: url("../img/university1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--blue);
  opacity: 0.8;

  box-sizing: border-box;
  padding: 20px;
  scroll-behavior: smooth;
 
  background-color: var(--blanco);
  width: 100%;
  display: flex;


  /* background-color: #f1c376; */
}
