.div-padre-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.div-padre-form h2 {
  color: var(--gris);
  text-align: center;
  padding-top: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-bottom: 8px; */
}
.formulario {
  width: 80%;
 
}
.formulario input {
  width: 100%;
}

.cursoSelect {
  display: flex;
  justify-content: space-between;
  width: 40%;
  scroll-behavior: smooth;
}
.containerField2 {
  margin-top: 20px;
  display: flex;
  gap: 20px;

}

.button {
  display: flex;
  height: 35px;
  width: 30%;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.body-fields {
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--lightBlue);
  scroll-behavior: smooth;

}
.input-field {
  margin-bottom: 20px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  color: #334257;
}
