/* Footer.css */

/* Footer.css */

.footer-container {
  background-color: #333;
  color: var(--blanco2);
  padding: 100px;

  text-align: center;
}

.footer-content {
  width: 100%;
  margin: 0 auto;
}

.social-icons a {
  color: var(--blanco2);
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #66c2ff;
}
