.header {
  position:absolute;
  width: 100%;
  background-color: #334257;
}
.brand {
  display: flex;
  align-items: center;

  width: 100%;
  justify-content: baseline;
  gap: 20px;
}
.brand a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  width: 100%;
  gap: 20px;
}
.login{
 display: flex;
 gap: 20px;
 
}
.user{
  display: flex;
  gap: 20px;
  color: #fff;
 }