/* Estilos para el contenedor del perfil */
.profile-container {
  display: flex;
  align-items: center;
  background-color: var(--blanco2);
  border-radius: 8px;
  /* Añadí "2px" y "solid" para especificar el grosor y tipo de borde */
  width: 100%;
}

.containerFather {
  background-color: var(--lightBlue);

  padding: 20px; /* Añadí un padding de 20px, pero puedes ajustarlo según tus preferencias */
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Estilos para la imagen de perfil */
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid var(--blanco2);
}

/* Estilos para el contenido del perfil */
.profile-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  font-family: "Arial", sans-serif;

  margin-top: 20px;
}

/* Estilos para el nombre de usuario */
.username {
  margin-bottom: 28px;
  color: #666;
}

/* Estilos para la información adicional del perfil */
.profile-info {
  font-size: 1rem;
  color: #666;
}

.body-perfil {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: auto;
  width: 100%;
}


.text-perfil {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 2rem;
  margin-top: 10px;
}
