/* Estilos para el contenedor del perfil */
.profile-container {
  display: flex;
  align-items: center;
  background-color: var(--blanco2);
  border-radius: 8px;
  /* Añadí "2px" y "solid" para especificar el grosor y tipo de borde */
  width: 100%;
}

.containerFather {
  background-color: var(--lightBlue);

  padding: 20px; /* Añadí un padding de 20px, pero puedes ajustarlo según tus preferencias */
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Estilos para la imagen de perfil */
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid var(--blanco2);
}

/* Estilos para el contenido del perfil */
.profile-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding: 1rem;

  font-family: "Arial", sans-serif;
}

/* Estilos para el nombre de usuario */
.username {
  font-size: 1rem;

  margin-bottom: 28px;
  color: #666;

  /* Añadí "2px" y "solid" para especificar el grosor y tipo de borde */
}

/* Estilos para la información adicional del perfil */
.profile-info {
  font-size: 1rem;
  color: #666;
}

.body-perfil {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* padding: 2rem; */
  width: 100%;
}

/* Estilos para los botones con efecto de hover */
.button-reutilizar {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
  padding: 10px 20px;
  cursor: pointer;
  border-right: 1px solid #7f1919;
  transition: background-color 0.3s, color 0.3s;
}

.button-reutilizar:hover {
  background-color: #0056b3;
  border: 2px solid #0056b3;
  color: #fff;
  border-right: 1px solid #7f1919;
}
.text-perfil {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 2rem;
}
