.header {
  width: 100%;
  /* background-color: #334257; */

  display: flex;
  justify-content: center;
}
.header ul {
  display: flex;
  /* justify-content: center; */
}
.header li {
  display: flex;
  margin-left: 10px;
}

.header li a {
  color: #373333;
  text-decoration: none;
}
