.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f7f8;
  padding: 20px;
  margin-top: 0px;
}
.formulario {
  width: 50%;
  margin-top: 20px;
}
.cursoSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 30px;
  margin-bottom: 8px;
}
.copiaselect {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.select1 {
  width: 100%;
}
.containerField2 {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  /* border: rebeccapurple solid; */
  margin-bottom: 20px;
}
.header-formulario{
 background-color: #495464;
 padding: 5px;
 color: #f5f7f8;
 text-align: center;
 margin-top: 50px;
 border-radius: 5px 5px 0px 0px ;
}
